@charset "utf-8";

/*----------------------
        共通設定
----------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Kaisei Opti', serif;
    font-size: 18px;
    color: #333333;
    background-image: url(../img/common/whiteBg.jpg);
    background-repeat: repeat;
}



img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: #333333;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}


.wrapper {
    max-width: 1200px;
    margin: 150px auto 0;
}

/*=============== スクロールアニメーション =================*/

.box {
    opacity: 0;
    height: 100vh;
}
  
  #scrolly-video {
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
}

.header__hd {
    text-align: center;
}

/*=============== nav =================*/

  .header__nav__list {
    display: flex;
    font-size: 24px;
    justify-content: center;
}

.header__nav__item {
    display: inline-block;
    padding: 1rem 2.5rem 1rem;
    position: relative;
}

.header__nav__item a {
    position: static;
}

.header__nav__item a img {
    position: absolute;
    opacity: 0;
}

.header__nav__item a:hover img {
    opacity: 1;
    margin: 0 auto;
    width: 3rem;
}

/*=============== メッセージ =================*/
dt {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

/*=============== フッター =================*/
footer {
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

