@charset "utf-8";

/*----------------------
        共通設定
----------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Kaisei Opti', serif;
    font-size: 16px;
    color: #333333;
    background-image: url(../img/common/whiteBg.jpg);
    background-repeat: repeat;
}



img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: #444444;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}


.wrapper {
    max-width: 1200px;
    margin: 150px auto 0;
}

/*ヘッダー*/
header {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
}





.header__nav__list {
    display: flex;
    font-size: 24px;
    justify-content: center;
}

.header__nav__item {
    padding: 1rem;
  
}

.contents__innre{
    padding-top:120px;
    margin-top: -120px;
}

/* マウスオーバー時 */



/*ポートフォリオ*/

.portfolio__title {
    margin-bottom: 1rem;
}

.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 2rem;
    margin: 5rem 0;
}

.portfolio__item__text {
    text-align: center;
    padding-top: 1rem;
}
/*topへもどるボタン*/


/*フッター*/
footer {
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}





/*---------------------
        46期生部分
---------------------*/
.kajimura {
    margin: 5rem 0;
}

.kajimura__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(580px, 1fr));
    gap: 2rem;
}

.kajimura__icon {
    width: 2rem;
}

.team__title {
    margin: 0.5rem 0;
}

.line {
    height: 120px;
    text-align: center;
}