@charset "utf-8";

/*共通設定*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}


body {
    font-family: 'Kaisei Opti', serif;
    font-size: 16px;
    color: #333333;
}


img {
	max-width: 100%;
	vertical-align: bottom;
}

a {
	color: #333333;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 2rem;
}
.portfolio__grid li {
    background-color: aqua;/*仮　写真に置き変わる*/
}

.kajimura__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(580px, 1fr));
    gap: 2rem;
}