@charset "utf-8";

/*----------------------
        共通設定
----------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
    font-family: 'Kaisei Opti', serif;
    font-size: 16px;
    color: #333333;
    background:linear-gradient(45deg, #f1cff2,#ead8f0,#d1f6dc);/*グラデーションを定義*/
	background-size: 200% 200%;/*サイズを大きくひきのばす*/
	animation: bggradient 20s ease infinite;
}

@keyframes bggradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


img {
	max-width: 100%;
	vertical-align: bottom;
}

a {
	color: #444444;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/*ヘッダー*/
header {
   margin:0 auto;
    text-align: center;
}

.header__nav__list{
    display: flex;
    font-size: 24px;
    justify-content: center;
}

.header__nav__item {
    padding: 1rem;
}


/*ポートフォリオ*/
.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 2rem;
}
.portfolio__grid li {
    background-color: aqua;/*仮　写真に置き変わる*/
}

/*フッター*/
footer {
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

/*スクロール制御*/
#header{
	position: fixed;/*Header固定*/
	top:0;
	height: 150px;/*高さ指定*/
	z-index: 2;
	width:100%;
    background-color: #f1cff2;
}

#container{
	position: relative;
	z-index: 1;/*header とfooterを手前にするため数字を小さく*/
}

section.fixed{
	position: -webkit-sticky;/*Safari*/
	position: sticky;
	top:150px;/*Header高さ分で止まるようにする*/
}

section.fixed:last-of-type{
	padding-top:70px;
/*最後のセクションだけ止まらないため、エリア内の情報が少ない時は、Header分の高さをpadding-topに追加して上部が見えるようにする*/
}
#footer{
	position: relative;
	z-index: 2;
}

/*＝＝＝＝＝タブレット以下の見え方 ＝＝＝＝＝*/

@media screen and (max-width:768px){
	section.fixed{
	position:relative!important;/*sticky解除*/
	top:0;/*70px⇒0pxに戻す*/
}
	section.fixed:first-of-type{
	padding-top:100px;
	/*最初の要素は上部にHeaderの高さ以上の余白をとる*/
	}
}


/*---------------------
        46期生部分
---------------------*/

.kajimura__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(580px, 1fr));
    gap: 2rem;
}

.line {
    max-width: 1200px;
    height: 120px;
}


